@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  text-decoration: underline;
  text-decoration-color: '#FFA902';
  text-decoration-thickness: 0.25rem;
  text-underline-offset: 0.5rem;
}
