@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  text-decoration: underline;
  text-decoration-color: #ffa902;
  text-decoration-thickness: 0.2rem;
  text-underline-offset: 0.5rem;
}
